*{
    padding:0;
    margin: 0;
    box-sizing: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
}

#turnOff{
    width: 9rem;
}

#turnOn {
    width: 9rem;
}